// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.flash {
  background: lighten(green, 30%);
  border: 2px solid green;
}

ul#product_messages {
  background: lighten(red, 30%);
  border: 2px solid red;
}
