// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 12px;
  font-family: Verdana,Arial,sans-serif;
}

ul.flash {
  background: lighten(green, 30%);
  border: 2px solid green;
}

ul#product_messages {
  background: lighten(red, 30%);
  border: 2px solid red;
}

div#auctions span {
  float: left;
  margin: 30px 30px 30px 30px;
}
